#root{
    display: flex;
    justify-content: center;
    align-self: center;
}

.App{
    height: fit-content;
    color:white;
}

body{
    height: 100vh;
    background-color: black;
}

h1{
    text-align: center;
}

button{
    background: none;
    border: none;
}

i{
    font-size: 2em;
    cursor: pointer;
    color:white;
}

.length{
    font-size: 25px;
}

#label-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 40vw;
}

.length-control{
    display: inline-block;
}

#break-label{
    font-size: 20px;
    margin-bottom: 5px;
}

#session-label{
    font-size: 20px;
    margin-bottom: 5px;
}

#break-label{
    display: flex;
    justify-content: space-between;
}

.btn-pad{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.timer{
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    border: white solid 5px;
    border-radius: 20px;
    width: 15vw;
    padding: 15px;
}

#timer-label{
    font-size: 30px;
    text-align: center;
}

#time-left{
    text-align: center;
    font-size: 45px;
}

.timer-control{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.timer-control button{
    margin: 8px;
}